<!--<div class="col-md-4">
	<md-card>
		<ngx-charts-number-card 
			[view]="view" 
			[scheme]="colorScheme" 
			[results]="ytd" 
			[bandColor]="ytdbandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>
</div>
<div class="col-md-4">
	<md-card>
    	<ngx-charts-number-card 
			[view]="view" 
			[scheme]="colorScheme" 
			[results]="mtd" 
			[bandColor]="mtdbandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>
</div>
<div class="col-md-4">
	<md-card>
		<ngx-charts-number-card 
			[view]="view" 
			[scheme]="colorScheme" 
			[results]="today" 
			[bandColor]="todaybandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>
</div>-->

<div class="col-md-4">
	<!--<md-card>
		<ngx-charts-number-card
			[view]="view"
			[results]="single1"
			[scheme]="colorScheme"
			[bandColor]="single1bandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>-->
	<div class="card card-stats">
		<div class="card-header" data-background-color="purple">
			<i class="material-icons">store</i>
		</div>
		<div class="card-content">
			<p class="category">Secondary Sales YTD</p>
			<h3 class="title">{{ single1 }}</h3>
		</div>
		<div class="card-footer">
			<!--<div class="stats">
				<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
			</div>-->
		</div>
	</div>
</div>

<div class="col-md-4">
	<!--<md-card>
		<ngx-charts-number-card
			[view]="view"
			[results]="single1"
			[scheme]="colorScheme"
			[bandColor]="single1bandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>-->
	<div class="card card-stats">
		<div class="card-header" data-background-color="purple">
			<i class="material-icons">store</i>
		</div>
		<div class="card-content">
			<p class="category">Secondary Sales MTD</p>
			<h3 class="title">{{ single2 }}</h3>
		</div>
		<div class="card-footer">
			<!--<div class="stats">
				<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
			</div>-->
		</div>
	</div>
</div>

<div class="col-md-4">
	<!--<md-card>
		<ngx-charts-number-card
			[view]="view"
			[results]="single1"
			[scheme]="colorScheme"
			[bandColor]="single1bandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>-->
	<div class="card card-stats">
		<div class="card-header" data-background-color="purple">
			<i class="material-icons">store</i>
		</div>
		<div class="card-content">
			<p class="category">Secondary Sales Today</p>
			<h3 class="title">{{ single3 }}</h3>
		</div>
		<div class="card-footer">
			<!--<div class="stats">
				<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
			</div>-->
		</div>
	</div>
</div>