<div class="card" [ngSwitch]="chartElement.type">
	<div class="card-header card-chart" [attr.data-background-color]="chartElement.background">
		<div class="ct-chart" id="chartElement">
			<ngx-charts-bar-horizontal *ngSwitchCase="'bar-horizontal'"
				[view]="chartElement.view"
				[scheme]="chartElement.scheme"
				[results]="chartElement.results"
				[gradient]="chartElement.gradient"
				[xAxis]="chartElement.showXAxis"
				[yAxis]="chartElement.showYAxis"
				[barPadding]="chartElement.barPadding"
				[xAxisLabel]="chartElement.xAxisLabel"
				[yAxisLabel]="chartElement.yAxisLabel">
			</ngx-charts-bar-horizontal>
			<ngx-charts-bar-vertical *ngSwitchCase="'bar-vertical'"
				[view]="chartElement.view"
				[scheme]="chartElement.scheme"
				[results]="chartElement.results"
				[gradient]="chartElement.gradient"
				[xAxis]="chartElement.showXAxis"
				[yAxis]="chartElement.showYAxis"
				[barPadding]="chartElement.barPadding"
				[showYAxisLabel]="chartElement.showYAxisLabel"
				[xAxisLabel]="chartElement.xAxisLabel"
				[yAxisLabel]="chartElement.yAxisLabel">
			</ngx-charts-bar-vertical>
			<ngx-charts-bar-horizontal-2d *ngSwitchCase="'bar-horizontal-2d'"
				[view]="chartElement.view"
				[scheme]="chartElement.scheme"
				[results]="chartElement.results"
				[gradient]="chartElement.gradient"
				[xAxis]="chartElement.showXAxis"
				[yAxis]="chartElement.showYAxis"
				[barPadding]="chartElement.barPadding"
				[xAxisLabel]="chartElement.xAxisLabel"
				[yAxisLabel]="chartElement.yAxisLabel">
			</ngx-charts-bar-horizontal-2d>
			<ngx-charts-bar-vertical-2d *ngSwitchCase="'bar-vertical-2d'"
				[view]="chartElement.view"
				[scheme]="chartElement.scheme"
				[results]="chartElement.results"
				[xAxis]="chartElement.showXAxis"
				[yAxis]="chartElement.showYAxis"
				[barPadding]="chartElement.barPadding"
				[xAxisLabel]="chartElement.xAxisLabel"
				[yAxisLabel]="chartElement.yAxisLabel">
			</ngx-charts-bar-vertical-2d>
			<ngx-charts-pie-chart *ngSwitchCase="'pie-chart'"
				[view]="chartElement.view"
				[scheme]="chartElement.scheme"
				[results]="chartElement.results"
				[explodeSlices]="chartElement.explodeSlices"
				[labels]="chartElement.showLabels"
				[doughnut]="chartElement.doughnut">
			</ngx-charts-pie-chart>
		</div>
	</div>
	<div class="card-content">
		<h2>{{ title }}</h2>
		<!--<p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>-->
	</div>
	<div class="card-footer">
		<div class="stats">
			<i class="material-icons">access_time</i> updated 4 minutes ago
		</div>
	</div>
</div>