<div class="card">
	<div class="card-header card-chart" >
		<div class="ct-chart" id="dailySalesChart">
			<ngx-charts-bar-horizontal
				[view]="view"
				[scheme]="colorScheme"
				[results]="single"
				[gradient]="gradient"
				[xAxis]="showXAxis"
				[yAxis]="showYAxis"
				[barPadding]="barPadding"
				[xAxisLabel]="xAxisLabel"
				[yAxisLabel]="yAxisLabel"
				(select)="onSelect($event)">
			</ngx-charts-bar-horizontal>
		</div>
	</div>
	<div class="card-content">
		<h3>{{ title }}</h3>
		<p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>
	</div>
	<div class="card-footer">
		<div class="stats">
			<i class="material-icons">access_time</i> updated 4 minutes ago
		</div>
	</div>
</div>