<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <md-card>
            <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
                <div class="row">
                    <div class="col-xs-12 center">
                        <img src="./assets/images/logo.png" alt="Vantage">
                    </div> 
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container for="username" class="full-width">
                            <input mdInput placeholder="Username"  id="username" 
                            formControlName="username" [(ngModel)]="user.username">
							<md-error *ngIf="formErrors.username">
								{{ formErrors.username }}
							</md-error>
                        </md-input-container>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <md-input-container for="password" class="full-width">
                            <input mdInput [type]="'password'" placeholder="Password" id="password" 
                            formControlName="password" [(ngModel)]="user.password">
                            <md-error>
								{{ formErrors.password }}
							</md-error>
                        </md-input-container>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="full-width btn-login" md-raised-button>Login</button>
                    </div> 
                </div>
            </form>
        </md-card>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
</div>
