<div class="col-md-4">
	<!--<md-card>
		<ngx-charts-number-card
			[view]="view"
			[results]="single1"
			[scheme]="colorScheme"
			[bandColor]="single1bandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>-->
	<div class="card card-stats">
		<div class="card-header" data-background-color="orange">
			<i class="material-icons">content_copy</i>
		</div>
		<div class="card-content">
			<p class="category">Primary Sales YTD</p>
			<h3 class="title">{{ text }}</h3>
		</div>
		<div class="card-footer">
			<div class="stats">
				<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
			</div>
		</div>
	</div>
</div>
<div class="col-md-4">
	<md-card>
		<ngx-charts-number-card
			[view]="view"
			[results]="single2"
			[scheme]="colorScheme"
			[bandColor]="single2bandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>
</div>
<div class="col-md-4">
	<md-card>
		<ngx-charts-number-card
			[view]="view"
			[results]="single3"
			[scheme]="colorScheme"
			[bandColor]="single3bandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>
</div>