<div class="col-md-4">
	<md-card>
		<ngx-charts-number-card
			[view]="view"
			[results]="single1"
			[scheme]="colorScheme"
			[bandColor]="single1bandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>
</div>
<div class="col-md-4">
	<md-card>
		<ngx-charts-number-card
			[view]="view"
			[results]="single2"
			[scheme]="colorScheme"
			[bandColor]="single2bandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>
</div>
<div class="col-md-4">
	<md-card>
		<ngx-charts-number-card
			[view]="view"
			[results]="single3"
			[scheme]="colorScheme"
			[bandColor]="single3bandColor"
			(select)="onSelect($event)">
		</ngx-charts-number-card>
	</md-card>
</div>